body {
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: rgb(15, 15, 15);
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
 }


a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
  /* font-family: 'Playfair Display', serif; */
  font-size: 150%;
}
nav a:hover {
  text-decoration: underline;
}

form div {
  margin: 1em;
  display: inline-block;
}

#hello img {
  height: fit-content;
  width: fit-content;
}

.navBarHeader {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.navBarHeader > h1 {
  margin-top: 0;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20%;
}

.navBar {
  align-self: flex-end;
  margin-bottom: 20px;
}

/* h1,
h2,
h3,
h4 {
  color: white;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-style: italic;
} */

.landingMainBg {
  /* display: flex; */
  background-color: #95a7f8;
  font-family: 'Prata', serif;
 font-weight: 400;
 min-height: 550px;
 padding: 50px;
 padding-top: 120px;
 padding-right: 600px;
}



.homeImages {
  width: 50%;
  height: auto;
  justify-content: space-around;
}
.homeButtonDiv {

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 23px;

  transform: scale(1)

}
.homeButton {
  font-family: 'Playfair Display', serif;
  border: none;
  font-weight: 600;
  margin: auto;
  background-color: white;
  color: black;
  width: 100px;
  height: 30px;
  transition: 300ms;
}
.homeButton:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#hello {
  display: flex;
  justify-content: center;
  width: 75%;
}
.imageHolder {
  /* display: flex; */
  height: 500px;
  width: 200px;
}
.productImage {
  align-items: flex-start;
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
}
.productPriceAndDescription {
  align-items: center;
}
.loginForm {
  display: flex;
  width: 200px;
}
.innerForm {
  margin: auto;
}
.usernameField {
  display: block;
  width: 200px;
  height: 30px;
  font-size: 15px;
  border: 1px solid black;
}
.passwordField {
  display: block;
  width: 200px;
  height: 30px;
  font-size: 15px;
  border: 1px solid black;
}
.loginButton {
  display: block;
  width: 200px;
  height: 30px;
  font-size: 15px;
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
}

/* .products-container{
  display:flex;
  align-items: flex-start;
  flex-direction:row;
  flex-wrap: wrap;
} */


.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card {
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 42%;
  border-radius: 5px;
  background-color: lightgrey;
}

.userImage {
  align-items: flex-start;
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.container p {
  text-align: center;
  color: black;
  font-size: 22;
  font-weight: bold;
}


#delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#delete-button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

#delete-button button {
  border-radius: 10px;
  background-color: seashell;

.logo {
  height: 120px;
  width: 160px;
  margin-left:50px
}


 /* h1, h2, h3, h4, h5, h6, {

 } */

 .welcomeText {
  font-family: 'Crimson Text', serif;
  font-size: xx-large
 }

 /* .landingPage {
   background-image: ;
 } */

 .products-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: baseline;
   margin: 30px
 }

 .productBox {
   width: 350px;
   margin: 1em;
   padding: 1em;
   display:flex;
   flex-direction:column;
   align-items: stretch;
   justify-content: center;
   /* border: 1px solid black;
   border-radius: 2%; */
 }

 nav, .navBarHeader {
  position: sticky; top: 0;
}

 .missionStatement {
  margin: 10px;
  display: flex;
  font-family: 'Prata', serif;
 font-weight: 400;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  min-height: 300px;

  border-style: solid;
}

.categoriersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: baseline;

}
