body {
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: rgb(15, 15, 15);
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
 }


a {
  text-decoration: none;
  color: inherit
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
   /* font-family: 'Playfair Display', serif;  */
  font-size: 150%;
}
nav a:hover {
  text-decoration: underline;
}

form div {
  margin: 1em;
  display: inline-block;
}

#hello img {
  height: fit-content;
  width: fit-content;
}

.navBarHeader {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.navBarHeader > h1 {
  margin-top: 0;
}

.navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.navBar {
  align-self: flex-end;
  margin-bottom: 20px;
}

/* h1,
h2,
h3,
h4 {
  color: white;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-style: italic;
} */

.landingMainBg {
  background-color: #95a7f8;
  font-family: 'Prata', serif;
 font-weight: 400;
 padding: 30px;
 min-width: 50%;
 padding-top: 30px;
 padding-right: 310px;
 justify-content: left;
 margin-right: 10px;
 margin-left: 10px;
 border-radius: 30px;
 text-align: left;
 flex-grow: 2;
 font-size:xx-large;
background-image: url('https://images.ctfassets.net/hbmwn5pbkdff/2eQYgqqatjuavpgkXkyQP5/0460df0f4dd285521ba23e10766aa392/CROPPED_BRAND_GQ_STYLE_CHINA.jpg?w=2000');
}

.homeImages {
  width: 50%;
  height: auto;
  justify-content: space-around;
}
.homeButtonDiv {
 /* justify-content: center; */
  transform: scale(0.3);
  margin-right: 100%;
}
.homeButton {
  font-family: 'Playfair Display', serif;
  border: none;
  font-weight: 600;
  margin: auto;
  background-color: white;
  color: black;
  width: 100px;
  height: 30px;
  transition: 300ms;
}
.homeButton:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#hello {
  display: flex;
  justify-content: center;
  width: 75%;
}
.imageHolder {
  /* display: flex; */
  height: 500px;
  width: 200px;
}
.productImage {
  align-items: flex-start;
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
}
.productPriceAndDescription {
  align-items: center;
}
.loginForm {
  display: flex;
  width: 200px;
}
.innerForm {
  margin: auto;
}
.usernameField {
  display: block;
  width: 160px;
  height: 30px;
  font-size: 15px;
  border: 1px solid black;
}
.passwordField {
  display: block;
  width: 160px;
  height: 30px;
  font-size: 15px;
  border: 1px solid black;
}
.loginButton {
  display: block;
  width: 160px;
  height: 30px;
  font-size: 15px;
  background-color: black;
  color: white;
  font-family: inherit;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card {
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 42%;
  border-radius: 5px;
  background-color: lightgrey;
}

.userImage {
  align-items: flex-start;
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.container p {
  text-align: center;
  color: black;
  font-size: 22;
  font-weight: bold;
}


#delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#delete-button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

#delete-button button {
  border-radius: 10px;
  background-color: seashell;
}

.logo {
  height: 120px;
  width: 160px;
  margin-left:20px
}

 .welcomeText {
  /* font-family: 'Crimson Text', serif; */
  font-size: x-large;
  text-align: center;
 }


 .products-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: baseline;
   margin: 30px
 }

 .productBox {
   width: 350px;
   margin: 1em;
   padding: 1em;
   display:flex;
   flex-direction:column;
   align-items: stretch;
   justify-content: center;
   /* border: 1px solid black;
   border-radius: 2%; */
 }

 nav, .navBarHeader {
  position: sticky; top: 0;
  z-index: 950;
}


.categoriersContainer, .singleProductContainer, .cartFlexContainer, .checkoutFlexContainer  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;

}

.productDetails, .totalContainer{
  padding-top: 30px;
  border: 3px solid black;
  padding: 30px;
  /* max-height: 200px; */
  max-width: 200px
}

.singleProductImage {
  max-height: 600px;
  max-width: 600px;

}

.productNameImage, .cartProductsContainer, .checkoutItemsList, .checkoutItemsSubtotal {
  border: 3px solid black;
  padding: 30px;
  margin-top: 28px;
  text-align: center;
}

.categoriesLink {
  display: flex;
  flex-direction: column;
  /* justify-content: c; */

  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: black

}

.categoryImage {
  max-height: 300px;
  min-width: 320px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height:500px;
  overflow-x:hidden;
  overflow-y:auto;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.createProductContainer, .edit-product-container, .loginForm, .confirmationContainer {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 15px;
  align-items: center;
  margin: 25px;
  padding: 20px;
  padding-left: 120px;
  font-size: 24px;
}

 .create-product-input, .edit-product-input{
  height: 40px;
  width: 400px;
  margin: 10px;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(228, 224, 224);
}

.imageHolder {
  height:min-content;
  margin-bottom: 10px;
}

.singleCartProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 20px; */
  justify-content: space-between;
  border-bottom:1px solid black;
  margin-bottom: 15px
}

.cartProductDetails {
  font-size: 24px;
  margin-left: 20px;
  text-align: right
}
 .cartProductsContainer {
   text-align: left
 }

.loginForm {
  padding-left: 0px
}

.checkoutItemsList {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}

.checkoutFlexContainer {
  flex-direction: column-reverse;
  align-items: center;
}

.checkoutProductSingle {
  margin: 15px
}

.landingPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 10px
}

.categoriesLink {
  flex-direction: column;
}

.categoriesLinkContainer {
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  text-align: center;
  color: white;
  font-size: x-large;
  z-index: 900
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingMainImage {
  max-width: 500px
}
